h1 {
  background-color: #232023;
  color: #ddd;
  padding-inline-start: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
  border: solid #ddd 2px;
}
table,
tr,
td {
  padding: 10px;
  text-align: left;
  margin: auto;
}

tr,
td {
  border-bottom: 1px solid #ddd;
}

table {
  padding-top: 5px;
  width: 100%;
  border-top: 3px solid #ddd;
}

tr:hover {
  cursor: pointer;
  background-color: darkgrey;
}

input {
  padding: 5px;
  padding-left: 30px;
  padding-bottom: 10px;
  float: right;
  border-left: #ddd 1px solid;
}

input:hover {
  cursor: pointer;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #232023;
  color: antiquewhite;
  margin-top: 20px;
  align-self: flex-end;
}
button:hover {
  cursor: pointer;
  border: solid 2px #ddd;
}
