<h1>User Data</h1>

<!-- (change)="onFileChange($event)" -->
<div id="body">
  <input
    id="input"
    type="file"
    (change)="onFileChange($event)"
    multiple="false"
  />

  <table>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let val of row">
          {{ val }}
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="exportExcel()">Download</button>
</div>
<!--
  <table id="excel-table">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let item of userList">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.username }}</td>
      <td>{{ item.email }}</td>
    </tr>
  </table>
-->
